body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

.flex-container {
	display: flex;
}

#header {
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid seashell;
	height: 69px;
	background-color: black;
	top: 0;
	left: 0;
	align-items: center;
	text-align: right;
}

#header img {
	display: inline-flex;
	padding: 9.5px 0px 9.5px 10px;
	justify-content: flex-start;
	height: 50px;
}

.nav span {
	display: inline-flex;
	text-decoration: underline;
	padding: 20px;
	justify-content: flex-end;
}

nav a {
	color: seashell;
}

#hero {
	display: flex;
	position: relative;
	height: 700px;
	width: 100%;
}

#mission {
	position: absolute;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: black;
	margin-top: 300px;
	height: 100px;
	width: 1200px;
	text-align: center;
	align-content: center;
}

#mission h4, #mission h2 {
	margin: -50px;
}

.featured {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.featured h2, .featured h4 {
	text-align: center;
	margin: 10px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	justify-content: space-evenly;
}

#gal-entry {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#gal-entry img {
	height: 200px;
	width: 300px;

}

.gal-entry h4 {
	margin-top: 10px;
}

.location-section {
	display: flex;
	position: relative;
	height: 500px;
	width: 100%;
	justify-content: center;

}

.location-section img {
	object-fit: fill;
}


.locations {
	display: inline-flex;
	position: absolute;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

#loc {
	display: inline-flex;
	flex-direction: column;
	background-color: black;
	text-align: center;
	margin: 20px;
	width: 300px;
	opacity: 1;
	padding: 20px;
}

.contact {
	height: 200px;
	text-align: center;
}

.copyright {
	padding-left: 20px;
}
