body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}

.flex-container {
	display: flex;
}

#header {
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 1;
	border-bottom: 1px solid seashell;
	height: 69px;
	background-color: black;
	top: 0;
	left: 0;
}

#header img {
	padding: 9.5px 0px 9.5px 10px;
	justify-content: flex-start;
	height: 50px;
}

nav span {
	display: inline-flex;
	text-decoration: underline;
	padding: 20px;
	justify-content: flex-end;
}

nav a {
	color: seashell;
	justify-content: flex-end;
}

#nav {
	align-items: right;
}

#hero {
	height: 700px;
	width: 1200px;
	position: relative;
}

#mission {
	display: inline-block;
	background-color: black;
	position: absolute;
	margin-top: 300px;
	margin-bottom: 300px;
	height: 100px;
	width: 1200px;
	text-align: center;
}
#mission h4{
	margin: -15px;
}

#mission h4, #mission h2 {
	align-content: : center;
}

#featured {
	width: 1000px;
}

#featured h3, #featured h4 {
	text-align: center;
}

.gallery {
	justify-content: space-between;

}

.gallery img {
	height: 200px;
	width: 300px;
}

.gallery h4 {
	margin-top: 10px;
}